body {
  background: #0b0614;
  color: white;
  text-align: center;
  font-family: Arial;
  padding: 20px;
}

.card {
  margin-top: 100px;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  background: pink;
  color: black;
}

img {
  width: 90%;
  max-width: 300px;
  margin: 15px auto;
  display: block;
  border-radius: 15px;
}